<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>zipi-forensics-http</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/forensics/forensics/venv/bin/gunicorn</string>
      <string>-w4</string>
      <string>-b</string>
      <string>localhost:5000</string>
      <string>forensics.server:create_app("/Users/forensics/forensics-conf/zipi-forensics.conf")</string>
      <string>--reload-extra-file</string>
      <string>/Users/forensics/forensics-conf/zipi-forensics.conf</string>
      <string>/Users/forensics/forensics-databases/python/arctic.db</string>
      <string>--pythonpath</string>
      <string>/Users/forensics/forensics/venv/bin/python</string>
    </array>
    <key>UserName</key>
    <string>forensics</string>
    <key>WatchPaths</key>
    <array>
      <string>/Users/forensics/forensics/</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/zipi-forensics.stdout</string>
    <key>StandardErrorPath</key>
    <string>/tmp/zipi-forensics.stderr</string>
  </dict>
</plist>
